<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="F1" value="1234"/>
    <add key="F2" value="vcb34SF"/>
    <add key="F3" value="fdsfs"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>